* {
  font-family: "monospace", "DejaVu Sans Mono", "sans-serif";
  font-size: 13px;
  background: #222831;
  color: #eeeeee;
}

window#waybar {
  background: #222831;
  border: none;
}

#workspaces button {
  background: #393e46;
  color: #eeeeee;
  margin: 0 2px;
  padding: 2px 8px;
  border-radius: 4px;
  border: none;
}

#workspaces button.active {
  background: #00adb5;
  color: #222831;
}

#clock, #cpu, #memory, #temperature, #pulseaudio, #battery {
  background: #393e46;
  color: #eeeeee;
  margin: 0 4px;
  padding: 2px 8px;
  border-radius: 4px;
}

#battery.charging {
  color: #00ff8a;
}

#battery.warning, #battery.critical {
  color: #ff6f61;
}
